#-----------------------------------------------------------------
# Each entry is a Node sub-class name, listing the attributes
# and child nodes of the class:
#   <name>*     - a child node
#   <name>**    - a sequence of child nodes
#   <name>      - an attribute
#
# Copyright (C) 2014
# License: BSD
#-----------------------------------------------------------------

Net: [is_pure, name, inputs*, outputs*, decls*, wiring*]

PortList: [ports**]
DeclList: [decls**]

Synchroniser: [name, macros, ast]
Morphism: [trigger, split, map, join, override_list**]

Override: [join, split, sync]

BinaryOp: [op, left*, right*]
UnaryOp:  [op, operand*]

Vertex:   [name, category, inputs, outputs]

ID: [value]
NUMBER: [value]
