#-----------------------------------------------------------------
# Each entry is a Node sub-class name, listing the attributes
# and child nodes of the class:
#   <name>*     - a child node
#   <name>**    - a sequence of child nodes
#   <name>      - an attribute
#
# Copyright (C) 2014
# License: BSD
#-----------------------------------------------------------------

# name -> ID
# inputs -> PortList
# outputs -> PortList
# decls -> DeclList
# states -> StateList
Sync: [name*, inputs*, outputs*, decls*, states*, configs]

# ports -> [Port, ...]
PortList: [ports**]

# name -> ID
# depth_exp -> ID | NUMBER | DepthExp | DepthNone
Port: [name*, depth_exp*]

# depth -> ID
# shift -> NUMBER
DepthExp: [depth*, sign, shift*]
DepthNone: []

# decls -> [StoreVar | StateVar, ...]
DeclList: [decls**]

# name -> ID
StoreVar: [name*]

# name -> ID
# type -> IntType
# value -> NUMBER
StateVar: [name*, type*, value*]

# size -> NUMBER
IntType: [size*]

# states -> [State, ...]
StateList: [states**]

# name -> ID
# trans_orders -> [TransOrder, ...]
State: [name*, trans_orders**]

# trans_stmt -> [Trans, ...]
TransOrder: [trans_stmt**]

# port -> Port
# condition -> CondSegmark | CondDataMsg | CondEmpty | CondElse
# guard -> IntExp
# actions -> [Assign | Send | Goto, ...]
Trans: [port*, condition*, guard*, actions**]

# choice -> ID
#CondChoice: [choice*, pattern**, tail*]

# depth -> ID
CondSegmark: [depth*, pattern**, tail*]

# tail -> ID
# labels -> [ID, ...]
CondDataMsg: [pattern**, tail*]

CondEmpty: []
CondElse: []

# lhs -> ID
# rhs -> DataExp | IntExp
Assign: [lhs*, rhs*]

# items -> [ItemThis | ItemVar | ItemExpand | ItemPair, ...]
DataExp: [terms**]

ItemThis: []
# name -> ID
ItemVar: [name*]
# name -> ID
ItemExpand: [name*]

# label -> ID
# value -> ItemVar | IntExp
ItemPair: [label*, value*]

# msg -> MsgSegmark | MsgData | MsgNil
# port -> ID
Send: [msg*, port*]

MsgSegmark: [depth*, data_exp*]
MsgRecord: [data_exp*]

# states -> [ID, ...]
Goto: [states**]

ID: [value]
NUMBER: [value]
TERM: [value]
IntExp: [exp, args, terms]
