#-----------------------------------------------------------------
# Each entry is a Node sub-class name, listing the attributes
# and child nodes of the class:
#   <name>*     - a child node
#   <name>**    - a sequence of child nodes
#   <name>      - an attribute
#
# Copyright (C) 2014
# License: BSD
#-----------------------------------------------------------------

Sync: [name, macros*, inputs*, outputs*, decls*, states*]

Macros: [macros**]

PortList: [ports**]
Port: [name, depth]

DeclList: [decls**]
StoreVar: [name]
StateVar: [name, type*]
IntType: [size]
EnumType: [labels**]

StateList: [states**]

State: [name, trans_scopes**]
TransScope: [trans_stmt**]

Trans: [port, condition*, guard*, actions**]

CondSegmark: [depth]
CondDataMsg: [choice, labels**, tail]
CondEmpty: []
CondElse: []

Assign: [lhs, rhs*]

IntExp: [exp]

DataExp: [items**]
ItemThis: []
ItemVar: [name]
ItemExpand: [name]
ItemPair: [label, value*]

Send: [msg*, port]
MsgSegmark: [depth*]
MsgData: [choice, data_exp*]
MsgNil: []

Goto: [states**]

ID: [name]
